<template>
    <span v-if="isLogIn != 'null'">
        <nav-bar />
    </span>
    <span v-else>
        <p>hello</p>
    </span>
</template>

<script>
import NavBar from "./components/NavBar.vue";
import { mapGetters } from "vuex";
import { mapActions } from "vuex";

export default {
    name: "App",
    data: {
        isLogIn: false,
    },
    components: {
        NavBar,
    },
    computed: {
        ...mapGetters(["isLogIn"]),
    },
    methods: {
        ...mapActions(["setIsLoggedIn"]),
    },
    async created() {
        await this.setIsLoggedIn();
    },
    mounted() {
        if (this.isLogIn == 'null')
            window.location.href =
                "http://example.inspiroheights.com/Library.API/form.php";
    },
};
</script>
