<template>
    <v-card class="mt-4 mx-auto" max-width="400">
        <v-sheet
            class="v-sheet--offset mx-auto"
            color="cyan"
            elevation="12"
            max-width="calc(100% - 32px)"
        >
        </v-sheet>
        <v-spacer></v-spacer>
        <v-card-text class="pa-10">
            <div class="text-h6 font-weight mb-2"> {{Title}} </div>
            <div class="subheading font-weight-light red--text">
                {{ Fine.Fine + "$" }}
            </div>
        </v-card-text>
    </v-card>
</template>

<script>
export default {
    props: ["Fine","Title"],
    data: () => ({
        labels: ["12am", "3am", "6am", "9am", "12pm", "3pm", "6pm", "9pm"],
        value: [200, 675, 410, 390, 310, 460, 250, 240],
    }),
};
</script>
