<template>
    <v-app id="inspire">
        <v-app-bar app flat color="">
            <a to="/Dashboard">
                <img src="../assets/logo-lg.png" width="200" height="70" />
            </a>
            <v-spacer />
            <v-icon class=""> mdi-cog-outline </v-icon>
            <div class="text-center">
                <v-menu
                    :close-on-content-click="false"
                    :nudge-width="200"
                    offset-x
                >
                    <template v-slot:activator="{ on, attrs }">
                        <v-icon class="ma-5" v-bind="attrs" v-on="on">
                            mdi-bell
                        </v-icon>
                    </template>

                    <v-card>
                        <v-list three-line>
                            <template v-for="(item, index) in items">
                                <v-subheader
                                    v-if="item.header"
                                    :key="item.header"
                                    v-text="item.header"
                                ></v-subheader>

                                <v-divider
                                    v-else-if="item.divider"
                                    :key="index"
                                    :inset="item.inset"
                                ></v-divider>

                                <v-list-item v-else :key="item.title">
                                    <v-list-item-content>
                                        <v-list-item-title
                                            v-html="item.title"
                                        ></v-list-item-title>
                                        <v-list-item-subtitle
                                            v-html="item.subtitle"
                                        ></v-list-item-subtitle>
                                    </v-list-item-content>
                                </v-list-item>
                            </template>
                        </v-list>
                    </v-card>
                </v-menu>
            </div>
            <v-btn
                justify-end="true"
                color="red"
                depressed
                elevation="2"
                outlined
                href="http://example.inspiroheights.com/Library.API/form.php"
                @click.native="logout"
            >
                <v-icon left> mdi-logout </v-icon> Logout
            </v-btn>
        </v-app-bar>

        <v-navigation-drawer v-model="drawer" color="primary" app>
            <v-sheet class="pa-4" color="primary">
                <v-avatar class="mb-4" color="grey darken-1" size="100">
                    <img
                        :src="activeStudent.ProfileImageURL"
                        alt="ProfileImage"
                    />
                </v-avatar>

                <div>{{ activeStudent.Email }}</div>
            </v-sheet>

            <v-divider></v-divider>

            <v-list>
                <v-list-item
                    v-for="[icon, text, toLink] in links"
                    :key="icon"
                    link
                    :to="toLink"
                    custom
                    color="white"
                >
                    <v-list-item-icon>
                        <v-icon>{{ icon }}</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title>{{ text }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>

        <!-- <v-navigation-drawer
      v-model="drawer"
      app
      class="pt-4"
      color="grey lighten-3"
      mini-variant
    >
      <v-avatar
        :size="36"
		color="grey lighten-4"
        class="d-block text-center mx-auto mb-9"
      ></v-avatar>
	  <v-list>
        <v-list-item
          v-for="[icon, text, toLink] in links"
          :key="icon"
          link
          :to="toLink"
          custom
        >
          <v-list-item-icon>
            <v-icon>{{ icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ text }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer> -->

        <v-main>
            <v-container class="py-8 px-6" fluid>
                <router-view />
            </v-container>
        </v-main>
    </v-app>
</template>

<script>
import { mapGetters } from "vuex";
import { mapActions } from "vuex";
import axios from "axios";

export default {
    data: () => ({
        drawer: null,
        apiBaseURL: "http://example.inspiroheights.com/Library.API/",

        links: [
            ["mdi-inbox-arrow-down", "Dashboard", "/Dashboard"],
            ["mdi-account", "MyProfile", "/MyProfile"],
            ["mdi-book", "Books", "/Books"],
            ["mdi-laptop", "Laptops", "/Laptops"],
            ["mdi-notebook", "EBooks", "/EBooks"],
            ["mdi-comment-question", "Queries", "/Queries"],
        ],
        items: [
            { header: "Notifications" },
            {
                avatar: "https://cdn.vuetifyjs.com/images/lists/1.jpg",
                title: "Brunch this weekend?",
                subtitle: `<span class="text--primary">Ali Connors</span> &mdash; I'll be in your neighborhood doing errands this weekend. Do you want to hang out?`,
            },
            { divider: true, inset: true },
            {
                avatar: "https://cdn.vuetifyjs.com/images/lists/2.jpg",
                title: 'Summer BBQ <span class="grey--text text--lighten-1">4</span>',
                subtitle: `<span class="text--primary">to Alex, Scott, Jennifer</span> &mdash; Wish I could come, but I'm out of town this weekend.`,
            },
            { divider: true, inset: true },
            {
                avatar: "https://cdn.vuetifyjs.com/images/lists/3.jpg",
                title: "Oui oui",
                subtitle:
                    '<span class="text--primary">Sandra Adams</span> &mdash; Do you have Paris recommendations? Have you ever been?',
            },
            { divider: true, inset: true },
            {
                avatar: "https://cdn.vuetifyjs.com/images/lists/4.jpg",
                title: "Birthday gift",
                subtitle:
                    '<span class="text--primary">Trevor Hansen</span> &mdash; Have any ideas about what we should get Heidi for her birthday?',
            },
            { divider: true, inset: true },
            {
                avatar: "https://cdn.vuetifyjs.com/images/lists/5.jpg",
                title: "Recipe to try",
                subtitle:
                    '<span class="text--primary">Britta Holt</span> &mdash; We should eat this: Grate, Squash, Corn, and tomatillo Tacos.',
            },
        ],
    }),
    methods: {
        ...mapActions([
            "getStudent",
            "getBooksByStudentId",
            "getAllBooks",
            "getLaptops",
            "getMyLaptop",
            "getAllEBooks",
            "getMyBookFine",
            "getMyLaptopFine",
            "getMyBooksFines",
            "getMyLaptopsFines",
        ]),
        logout() {
            axios
                .post(this.apiBaseURL + `/Logout.php`)
                .then((response) => {
                    if (response.data == "Success") {
                        alert("Sucessfully logged out");
                        this.$router.push({ name: 'Home' });
                    }
                })
                .catch((e) => {
                    errors.push(e);
                });
        },
    },
    async created() {
        await this.getStudent();
        this.getAllBooks();
        this.getBooksByStudentId();
        this.getLaptops();
        this.getMyLaptop();
        this.getAllEBooks();
        this.getMyBookFine();
        this.getMyLaptopFine();
        this.getMyBooksFines();
        this.getMyLaptopsFines();
    },
    computed: {
        ...mapGetters(["activeStudent", "isLoggedIn"]),
        minidrawer() {
            return !this.drawer;
        },
    },
};
</script>
