<template>
    <span>
        <v-sheet class="pa-2">
            <v-card class="mx-auto pa-3" max-width="800">
                <v-row>
                    <v-col cols="11"> {{ query.Query }} </v-col>
                    <v-col cols="1">
                        <v-icon large color="red" v-if="query.Status == 1">
                            mdi-alert-octagram
                        </v-icon>
                        <v-icon large color="primary" v-if="query.Status == 2">
                            mdi-message-flash
                        </v-icon>

                        <v-icon large color="green" v-if="query.Status == 3">
                            mdi-check-circle
                        </v-icon>
                    </v-col>
                </v-row>
                <span v-if="query.Reply">
                    <h4>Reply:</h4>
                    {{ query.Reply }}
                </span>
            </v-card>
            <v-spacer max-width="800"></v-spacer>
        </v-sheet>
    </span>
</template>

<script>
export default {
    props: ["query"],
    data: () => ({
        StudentQuery: {
            name: "",
        },
    }),

    computed: {},

    watch: {
        name() {
            this.errorMessages = "";
        },
    },

    methods: {},
};
</script>
