<template>
    <span>
        <v-row no-gutters>
            <v-col
                v-for="i in allEBooks"
                :key="i"
                :xl="3"
                :lg="3"
                :md="6"
                :sm="6"
                class="pa-5"
            >
                <v-card
                    :loading="loading"
                    class="mx-auto my-12"
                    max-width="374"
                >
                    <template slot="progress">
                        <v-progress-linear
                            color="deep-purple"
                            height="10"
                            indeterminate
                        ></v-progress-linear>
                    </template>

                    <v-img height="250" :src="i.EbookImageURL"></v-img>
                    <v-card-title>
                        {{ i.Name }}
                    </v-card-title>

                    <v-card-text>
                        <div>
                            <v-row>
                                <v-col>
                                    <v-btn
                                        depressed
                                        outlined
                                        color="primary"
                                        @click="openDialog(i.EbookURL)"
                                    >
                                        <v-icon left> mdi-eye </v-icon>
                                        Read EBook
                                    </v-btn>
                                </v-col>
                            </v-row>
                        </div>
                    </v-card-text>

                    <v-divider class="mx-4"></v-divider>
                </v-card>
            </v-col>
        </v-row>
        <v-dialog v-model="dialog" width="1000px">
            <iframe :src="selectedPDF" width="800px" height="800px"> </iframe>
        </v-dialog>
    </span>
</template>

<script>
import { mapGetters } from "vuex";

export default {
    data: () => ({
        dialog: false,
        loading: false,
        selection: 1,
        activeTab: 1,
        selectedPDF: "",
    }),
    methods: {
        reserve() {
            this.loading = true;

            setTimeout(() => (this.loading = false), 2000);
        },
        openDialog(URL) {
            this.dialog = true;
            this.selectedPDF = URL;
        },
    },
    computed: {
        ...mapGetters(["allEBooks"]),
    },
};
</script>
