<template>
    <v-card :loading="loading" class="mx-auto my-12" max-width="374">
        <template slot="progress">
            <v-progress-linear
                color="deep-purple"
                height="10"
                indeterminate
            ></v-progress-linear>
        </template>

        <v-img height="250" :src="Laptop.LaptopImageURL"></v-img>

        <v-card-title>{{ Laptop.Brand }}</v-card-title>

        <v-card-text>
            <div>
                {{ Laptop.Model }} <br />
                {{ Laptop.Description }}
            </div>
        </v-card-text>

        <v-divider class="mx-4"></v-divider>
    </v-card>
</template>

<script>
import { mapGetters } from "vuex";
import { mapActions } from "vuex";

export default {
    computed: {
        ...mapGetters(["Laptops", "Laptop", "LaptopsFines"]),
    },
    methods: {
        ...mapActions(["getMyLaptop", "getMyLaptopsFines"]),
    },
    created() {
        this.getMyLaptop();
        this.getMyLaptopsFines();
    },
};
</script>
