<template>
  <v-card class="mx-auto pa-10" max-width="600">
    <v-row align="center" class="mx-auto">
      <v-col> </v-col>

      <v-col>
        <v-avatar align="center" color="primary" size="150">
          <img :src="activeStudent.ProfileImageURL" alt="ProfileImage" />
        </v-avatar>
      </v-col>

      <v-col> </v-col>
    </v-row>
    <v-form ref="form" v-model="valid" lazy-validation>
      <v-row>
        <v-col cols="12" md="6">
          <v-text-field
            v-model="activeStudent.FirstName"
            label="First name"
            required
          ></v-text-field>
        </v-col>

        <v-col cols="12" md="6">
          <v-text-field
            v-model="activeStudent.LastName"
            label="Last name"
            required
          ></v-text-field>
        </v-col>
      </v-row>

      <v-text-field
        v-model="activeStudent.Email"
        label="E-mail"
        required
        disabled
      ></v-text-field>

      <v-select
        v-model="activeStudent.Gender"
        :items="genders"
        :rules="[(v) => !!v || 'Gender is required']"
        label="Gender"
        required
        disabled
      ></v-select>

      <v-menu
        :close-on-content-click="false"
        :nudge-right="40"
        transition="scale-transition"
        offset-y
        min-width="auto"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            v-model="activeStudent.DateOfBirth"
            label="Date Of Birth"
            prepend-icon="mdi-calendar"
            readonly
            v-bind="attrs"
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker v-model="activeStudent.DateOfBirth"></v-date-picker>
      </v-menu>

      <v-text-field
        v-model="activeStudent.Phone"
        :counter="10"
        label="Phone Number"
        required
        disabled
      ></v-text-field>

      <v-text-field
        v-model="activeStudent.Mobile"
        :counter="10"
        label="Mobile Number"
        required
      ></v-text-field>

      <v-btn color="primary" @click.native="updateStudent"> Update </v-btn>
    </v-form>
  </v-card>
</template>

<script>
import { mapActions } from "vuex";
import { mapGetters } from "vuex";
export default {
  data: () => ({
    valid: true,
    name: "",
    selectedGender: null,
    genders: ["Male", "Female", "Other"],
    checkbox: false,
  }),
  computed: {
    ...mapGetters(["activeStudent"]),
  },
  methods: {
    ...mapActions(["getStudent", "putStudent"]),
    validate() {
      this.$refs.form.validate();
    },
    reset() {
      this.$refs.form.reset();
    },
    resetValidation() {
      this.$refs.form.resetValidation();
    },
    updateStudent() {
      this.putStudent();
    },
  },
  created() {
    this.getStudent();
  },
};
</script>