<template>
    <span>
        <v-card class="mx-auto pa-10" max-width="800">
            <v-text-field
                v-model="StudentQuery.Query"
                label="Query"
                outlined
                required
            ></v-text-field>
            <v-btn color="primary" @click.native="postQuery"> Submit </v-btn>
        </v-card>
        <student-query
            v-for="query in allQueries"
            :key="query.Id"
            :query="query"
        >
        </student-query>
    </span>
</template>

<script>
import axios from "axios";
import { mapGetters } from "vuex";
import StudentQuery from "../components/StudentQuery.vue";
export default {
    data: () => ({
        StudentQuery: {
            Query: "",
            Status: 1,
            StudentId: null,
        },
        BASE_URL:
            "http://example.inspiroheights.com/Library.API/StudentQueries/",
        allQueries: [],
    }),
    components: {
        StudentQuery,
    },
    computed: {
        ...mapGetters(["activeStudent"]),
    },

    watch: {},

    methods: {
        postQuery() {
            this.StudentQuery.StudentId = this.activeStudent.Id;
            axios
                .post(this.BASE_URL + `Post.php`, this.StudentQuery)
                .then((response) => {
                    if (response.data == "Success") {
                        alert("successfully added query");
                        this.getQueries();
                        this.StudentQuery.Query = "";
                    }
                })
                .catch((e) => {
                    errors.push(e);
                });
        },
        getQueries(Id) {
            axios
                .get(
                    this.BASE_URL +
                        `GetByStudentId.php?StudentId=` +
                        this.activeStudent.Id
                )
                .then((response) => {
                    if (response.data != "Error")
                        this.allQueries = response.data;
                })
                .catch((e) => {
                    errors.push(e);
                });
        },
    },

    created() {
        this.getQueries(this.activeStudent.Id);
    },
};
</script>
