<template>
    <span>
        <v-carousel hide-delimiters cycle class="ma-0 pa-0">
            <v-carousel-item
                v-for="(item, i) in items"
                :key="i.Id"
                :src="item.src"
            ></v-carousel-item>
        </v-carousel>
        <v-row>
            <v-col>
                <dashboard-card Title="Books Fine" :Fine="BookFine" />
            </v-col>
            <v-col>
                <dashboard-card Title="Laptops Fine" :Fine="LaptopFine" />
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="2"> </v-col>
            <v-col>
                <h1>FAQs</h1>
                <v-expansion-panels focusable>
                    <v-expansion-panel v-for="faq in faqs" :key="faq.title">
                        <v-expansion-panel-header color="info">
                            {{ faq.title }}
                        </v-expansion-panel-header>
                        <v-expansion-panel-content>
                            {{ faq.description }}
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                </v-expansion-panels>
            </v-col>
            <v-col cols="2"> </v-col>
        </v-row>
    </span>
</template>

<script>
import StudentQueries from "../components/StudentQuery.vue";
import DashboardCard from "../components/DashboardCard.vue";
import { mapGetters } from "vuex";
import { mapActions } from "vuex";

export default {
    data() {
        return {
            items: [
                {
                    src: "https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1856&q=80",
                },
                {
                    src: "https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1290&q=80",
                },
                {
                    src: "https://images.unsplash.com/photo-1589998059171-988d887df646?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80",
                },
            ],
            faqs: [
                {
                    title: "What are the payment options available to pay the fines",
                    description:
                        "At present we allow inperson payment at library.",
                },
                {
                    title: "What should i do if the laptop got damaged.",
                    description: "According to the damage we charge a fine",
                },
                {
                    title: "What are the payment options available to pay the fines",
                    description:
                        "At present we allow inperson payment at library.",
                },
                {
                    title: "What are the payment options available to pay the fines",
                    description:
                        "At present we allow inperson payment at library.",
                },
                {
                    title: "What are the payment options available to pay the fines",
                    description:
                        "At present we allow inperson payment at library.",
                },
            ],
        };
    },
    created() {
        this.getStudent();
        this.getAllBooks();
        this.getBooksByStudentId();
        this.getLaptops();
        this.getMyLaptop();
        this.getAllEBooks();
        this.getMyBookFine();
        this.getMyLaptopFine();
        this.getMyBooksFines();
        this.getMyLaptopsFines();
    },
    components: {
        StudentQueries,
        DashboardCard,
    },
    computed: {
        ...mapGetters(["BookFine", "LaptopFine"]),
    },
    methods: {
        ...mapActions([
            "getStudent",
            "getBooksByStudentId",
            "getAllBooks",
            "getLaptops",
            "getMyLaptop",
            "getAllEBooks",
            "getMyBookFine",
            "getMyLaptopFine",
            "getMyBooksFines",
            "getMyLaptopsFines",
        ]),
    },
};
</script>
