<template>
    <span>
        <v-tabs v-model="activeTab">
            <v-tab>All Laptops</v-tab>
            <v-tab>My Laptop</v-tab>
            <v-tab>My Laptop Fines</v-tab>
        </v-tabs>
        <v-row no-gutters v-if="activeTab == 0">
            <v-col
                v-for="i in Laptops"
                :key="i"
                :xl="3"
                :lg="3"
                :md="6"
                :sm="6"
                class="pa-5"
            >
                <v-card
                    :loading="loading"
                    class="mx-auto my-12"
                    max-width="374"
                >
                    <template slot="progress">
                        <v-progress-linear
                            color="deep-purple"
                            height="10"
                            indeterminate
                        ></v-progress-linear>
                    </template>

                    <v-img height="250" :src="i.LaptopImageURL"></v-img>

                    <v-card-title>{{ i.Brand }}</v-card-title>

                    <v-card-text>
                        <div>
                            {{ i.Model }} <br />
                            {{ i.Description }}
                        </div>
                    </v-card-text>

                    <v-divider class="mx-4"></v-divider>
                </v-card>
            </v-col>
        </v-row>
        <v-row no-gutters v-if="activeTab == 1">
            <my-laptop></my-laptop>
        </v-row>
        <v-row no-gutters v-if="activeTab == 2">
            <v-col
                v-for="i in LaptopsFines"
                :key="i"
                :xl="3"
                :lg="3"
                :md="6"
                :sm="6"
                class="pa-5"
            >
                <v-card
                    :loading="loading"
                    class="mx-auto my-12"
                    max-width="374"
                >
                    <template slot="progress">
                        <v-progress-linear
                            color="deep-purple"
                            height="10"
                            indeterminate
                        ></v-progress-linear>
                    </template>

                    <v-img height="250" :src="i.LaptopImageURL"></v-img>

                    <v-card-title>{{ i.Brand }}</v-card-title>

                    <v-card-text>
                        <div>
                            {{ i.Model }} <br />
                            {{ i.Description }}
                        </div>
                        Date Of Lent: {{ i.DateOfLent }} <br />
                        <div v-if="i.Fine > 0" color="red">
                            Fine($): {{ i.Fine }}
                        </div>
                        <div v-if="i.Fine <= 0">Fine($): {{ i.Fine }}</div>
                    </v-card-text>

                    <v-divider class="mx-4"></v-divider>
                </v-card>
            </v-col>
        </v-row>
    </span>
</template>

<script>
import { mapGetters } from "vuex";
import MyLaptop from "./MyLaptop.vue";

export default {
    data: () => ({
        loading: false,
        selection: 1,
        activeTab: 0,
    }),
    components: {
        MyLaptop,
    },
    methods: {
        reserve() {
            this.loading = true;

            setTimeout(() => (this.loading = false), 2000);
        },
    },
    computed: {
        ...mapGetters(["Laptops", "myLaptop", "LaptopsFines"]),
    },
};
</script>
